---
import NavItemLink from "@/components/NavItemLink.astro";
import LogoCG from "@/components/icons/LogoCG.astro";
import LogoFB from "@/components/icons/LogoFB.astro";
import LogoInstagram from "@/components/icons/LogoInstagram.astro";
import LogoWA from "@/components/icons/LogoWA.astro";
const navItems = [
  {
    title: "Novedades",
    label: "novedades",
    href: "/#novedades",
  },
  {
    title: "Menú",
    label: "menu",
    href: "/#menu",
  },
  {
    title: "Nosotros",
    label: "nosotros",
    href: "/#nosotros",
  },
  {
    title: "Contáctanos",
    label: "contactanos",
    href: "/#contactanos",
  },
];
---

<header
  class="w-full h-20 flex items-center justify-center drop-shadow-md bg-white-smoke"
>
  <nav class="fixed flex items-center justify-space-between gap-12">
    <a
      class="hover:scale-110 hover:transition hover:ease-in-out hover:duration-500"
      href="/#home"
    >
      <LogoCG />
    </a>
    <ul class="flex flex-row items-center justify-center gap-10">
      {
        navItems.map((linkItem) => (
          <NavItemLink
            href={linkItem.href}
            title={linkItem.title}
            label={linkItem.label}
          />
        ))
      }
    </ul>
    <section class="flex flex-row gap-5">
      <a
        class="w-14 h-14 flex items-center justify-center px-3 py-1 rounded-full border-4 border-princeton-orange hover:bg-princeton-orange hover:scale-110 hover:transition hover: ease-in-out hover:duration-300"
        aria-label="facebook"
        href="https://www.facebook.com/profile.php?id=100068123208897"
        target="_blank"
      >
        <LogoFB color="#814B09" />
      </a>
      <a
        class="w-14 h-14 flex items-center justify-center px-3 py-1 rounded-full border-4 border-princeton-orange hover:bg-princeton-orange hover:scale-110 hover:transition hover: ease-in-out hover:duration-300"
        aria-label="instagram"
        href="https://www.instagram.com/chefcito.gourmet/"
        target="_blank"
      >
        <LogoInstagram color="#814B09" />
      </a>
      <a
        class="w-14 h-14 flex items-center justify-center px-3 py-1 rounded-full border-4 border-princeton-orange hover:bg-princeton-orange hover:scale-110 hover:transition hover: ease-in-out hover:duration-300"
        aria-label="whatsapp"
        href="https://api.whatsapp.com/send?phone=%2B528341558550&context=ARDe7VytUmvKLQfaL_SetuiwprCTng_MorHA3GlRYkUJm_lsBpFDV8Rsh5W8W4doaAx7g-lRSv5FD3nvu_kZt-FAi1KpmVY_1ew4RJQE1BB-3bal2jcb25EkDWW8f3oBIq4Xt1ksoRFKxwXMJtwHjV5pEA&source=FB_Page&app=facebook&entry_point=page_cta"
        target="_blank"
      >
        <LogoWA color="#814B09" />
      </a>
    </section>
  </nav>
</header>
