---
const { href, title, label } = Astro.props;
---

<a
  class="w-fit text-2xl flex items-center justify-center px-3 py-1 hover:bg-princeton-orange hover:rounded-full hover:scale-110 hover:transition hover: ease-in-out hover:duration-500"
  aria-label={label}
  href={href}
  >{title}
  <slot />
</a>
