---
import "@fontsource/pacifico";
---

<section class="mt-20" id="#novedades">
  <div
    class="grid grid-rows-4 grid-cols-3 grid-flow-row gap-10 items-end justify-between"
  >
    <!-- Inicio Card 1 -->
    <div class="row-span-2 h-full">
      <div
        class="w-full h-full bg-gradient-to-b from-smoky-black to-princeton-orange rounded-3xl opacity-75 drop-shadow-lg hover:scale-110 hover:transition hover:ease-in-out hover:duration-400 hover:delay-200"
      >
        <div class="flex flex-col">
          <img
            src="./1710429988007.webp"
            alt="Platillo Boneless"
            class="rounded-t-3xl object-cover w-full h-44"
          />
          <div class="flex items-center justify-center h-28">
            <p class="text-2xl font-bold text-white-smoke text-center">
              Deliciosa Comida
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Inicio Card 2 -->
    <div class="row-span-3 h-full">
      <div
        class="w-full h-full flex items-center justify-center bg-gradient-to-b from-smoky-black to-princeton-orange rounded-3xl opacity-75 text-white-smoke drop-shadow-lg hover:scale-110 hover:transition hover:ease-in-out hover:duration-400 hover:delay-200"
      >
        <div class="flex flex-col items-center justify-center gap-20">
          <div class="flex flex-col items-center justify-center">
            <p class="text-2xl font-extrabold">Entregas Rápidas</p>
            <p class="text-xl font-thin">
              Envíos <span class="font-normal">gratis</span> a toda la ciudad
            </p>
          </div>
          <div class="flex flex-col items-center justify-center">
            <p class="text-2xl font-extrabold">Horarios</p>
            <p class="text-xl font-thin">Jueves a Martes</p>
            <p class="text-xl font-thin">02:00pm a 10:00pm</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Inicio Card 3 -->
    <div class="row-span-2 h-full">
      <div
        class="w-full h-full flex items-center justify-center bg-gradient-to-b from-smoky-black to-princeton-orange rounded-3xl opacity-75 text-white-smoke drop-shadow-lg hover:scale-110 hover:transition hover:ease-in-out hover:duration-400 hover:delay-200"
      >
        <div class="flex flex-col items-center justify-center gap-8">
          <div class="flex flex-col items-center justify-center">
            <p class="text-2xl font-extrabold text-center">
              Síguenos en nuestras redes sociales
            </p>
          </div>
          <div class="flex items-center justify-center space-x-4">
            <span class="border-t-2 border-white-smoke w-24"></span>
            <p class="text-xl font-semibold">&</p>
            <span class="border-t-2 border-white-smoke w-24"></span>
          </div>
          <div class="flex flex-col items-center justify-center">
            <p class="text-xl font-thin text-center">
              Entérate de todas nuestras <span class="font-bold"
                >promociones</span
              > antes que nadie
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Inicio Card 4 -->
    <div class="row-span-2 h-full">
      <div
        class="w-full h-full flex items-center justify-center bg-gradient-to-b from-princeton-orange to-sunset rounded-3xl opacity-75 text-smoky-black drop-shadow-lg hover:scale-110 hover:transition hover:ease-in-out hover:duration-400 hover:delay-200"
      >
        <div class="flex flex-col items-center justify-center gap-10">
          <div class="flex flex-col items-center justify-center">
            <p class="text-2xl font-black text-center">
              ¡Ven y vísitanos en nuestra sucursal!
            </p>
          </div>
          <div class="flex flex-col items-center justify-center">
            <p class="text-lg font-light text-center">
              Calle Puerto de Matamoros #312
            </p>
            <p class="text-lg font-light text-center">Col. Horacio Terán</p>
            <p class="text-lg font-light text-center">
              Ciudad Victoria, Tamaulipas
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Inicio Card 5 -->
    <div class="row-span-2 h-full">
      <div
        class="relative flex items-center justify-center w-full h-full rounded-3xl overflow-hidden drop-shadow-lg hover:scale-110 hover:transition hover:ease-in-out hover:duration-400 hover:delay-200"
      >
        <img
          src="./IMG_20211127_161448276_HDR.webp"
          alt="Hamburguesa con papas"
          class="absolute inset-0 object-cover w-full h-full"
        />
        <div
          class="absolute flex flex-col items-center justify-center inset-0 bg-gradient-to-b from-princeton-orange to-sunset opacity-75"
        >
          <div class="m-3 flex flex-col items-center justify-center gap-5">
            <div class="flex flex-col items-center justify-center">
              <p class="text-2xl font-black text-center">
                Ordena tu comida y olvídate de <span class="font-bold"
                  >cocinar</span
                >
              </p>
            </div>
            <div class="flex flex-col items-center justify-center">
              <p class="text-base font-light text-center">
                Pide ahora mismo directamente desde <span class="font-bold"
                  >Uber Eats</span
                >, <span class="font-bold">Didi Food</span> o via <span
                  class="font-bold">WhatsApp</span
                > al teléfono (834)-115-8550
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Inicio Card 6 -->
    <div class="flex items-center justify-center">
      <div
        class="m-3 w-full h-32 flex items-center justify-center bg-gradient-to-b from-princeton-orange to-sunset rounded-3xl opacity-75 drop-shadow-lg hover:scale-110 hover:transition hover:ease-in-out hover:duration-400 hover:delay-200"
      >
        <div class="flex flex-col items-center justify-center">
          <div class="flex flex-col items-center justify-center">
            <p class="text-xl font-light text-center">
              Las mejores <span class="font-extrabold font-pacifico"
                >hamburguesas</span
              > están solo en...
            </p>
          </div>
          <div class="flex flex-col items-center justify-center">
            <p class="text-2xl font-extrabold">¡Chefcito Gourmet!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
